<header style="background: #FFFBF2; padding: 0;" class="col-2" xmlns:th="http://www.w3.org/1999/xhtml">
    <div style="padding: 20px;" class="user-header">
        <div class="logo d-flex justify-content-center">
            <a href="/home">
                <img src="/images/logo.png" width="120px" alt="logoIMG">
            </a>
        </div>
        <div class="userLogin text-center my-4">
            <p style="font-weight: bold; margin-bottom: 0px;">Bienvenido</p>
            <p style="text-transform: uppercase;" th:text="${adminLogeado.nombre}"></p>
        </div>
    </div>
    <nav>
        <ul style="padding: 0; margin: 0; flex-direction: column; gap: 12px; color: #000;" class="d-flex align-items-center">
            <li style="list-style: none; width: 100%; text-align: center; background: #C3E2FF;"><a style="color: #000; text-decoration: none; line-height: 70px;" href="/registrar/asistencia">Registrar Asistencia</a></li>
            <li style="list-style: none; width: 100%; text-align: center; background: #EBD9AB;"><a style="color: #000; text-decoration: none; line-height: 70px;" href="/registrar/evento">Registrar Evento</a></li>
        </ul>
    </nav>
    <div class="row justify-content-center" style="margin-top: 28em;">
        <a class="col-auto btn btn-danger" th:href="@{/logout}">Cerrar Sesión</a>
    </div>
</header>